.form-control {
    height: 38px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.42857;
    box-sizing: border-box;
    appearance: none;
}

.form-control.textarea {
    min-height: 120px;
    padding: 10px 12px;
    resize: vertical;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
}


.form-container {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}